@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Inter", sans-serif;
}

.stylish-text {
  font-family: "Permanent Marker", cursive;
  color: #df8600;
}

nav .active {
  background: linear-gradient(to top, #df860034, #df860000);
  border-bottom: #f8ba5f 3px solid;
}

@media (max-width: 600px) {
  nav .active {
    background: linear-gradient(to top, #df860034, #df860000);
    border-bottom: none;
  }
}
